body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

.container {
	margin: 0 5%;
}

header {
	border-bottom: 4px solid #7d97ad;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	width: 100%;
}

main {
	margin: 2rem auto 4rem auto;
}

.logo {
	max-height: 100px;
	max-width: 100px;
}

.logo, 
.header-content-container {
	margin: 0;
}

.header-name,
.header-title {
	font-weight: 300;
	color: #2d3c49;
	text-align: right;
	text-transform: uppercase;
	margin: 0;
}

.header-name {
	font-size: 3rem;
}

.jumbotron-container {
	width: 100%;
	max-height: 450px;
	overflow: hidden;
}

.jumbotron {
	width: 100%;
}

.project-title {
	font-size: 2rem;
	color: #7d97ad;
	font-weight: 300;
}

.projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.project-container {
	text-align: center;
	overflow: hidden;
	width: 32%;
}

.project-image {
	width: 100%;
}

.project-image:hover {
	cursor:pointer;
	opacity: .8;
}

.project-container > h2 {
	text-transform: uppercase;
	font-size: 2rem;
	margin: .5rem 0;
}

.project-link {
	margin: .25rem 0;
}

.project-link > a {
	text-decoration: none;
	color: #000;
}

.project-link > a:hover, 
.project-container > h2:hover {
	cursor: pointer;
	color: #02b3e4;
}

footer {
	background-color: #02b3e4;
	text-align: center;
	color: #fff;
	padding: 1rem;
	width: 100%;
}